
<section>

    <div >
        <div >
            <div >
                <div >
                    <div >
                        <div >
                            <div ng-init="category='something'">
                                <div class="panel-heading"
                                     translate="NESTED_TEXT{:CATEGORY}"
                                     translate-values="{CATEGORY: category}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
